body {
  font-family: Vogue;
}
.shoppingCardContentContainer {
  text-align: center;
}

.shoppingCartContainer {
  width: 25rem;
}

.shoppingCartTotalContainer {
  display: grid;
  align-items: center;
}

.shoppingCartOptionsButtons {
  width: 100%;
  background-color: black;
  color: white;
  font-family: Vogue;
  font-size: 2.5vh;
  font-weight: bold;
  padding: 0.5vh;
  border: 2px solid white;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.14);
  cursor: pointer;
  border-radius: 20px;
  margin-top: 1rem;
}

.shoppingCartOptionsButtons:hover {
  background-color: rgb(173, 68, 103);
}
