.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 1vh;
  width: 80%;
}

img {
  width: 350px;
  height: 300px;
  z-index: 1;
  opacity: 0.8;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.64);
  border-radius: 10px;
}
img:hover {
  opacity: 1;
  z-index: 3;
}

.circle {
  position: relative;
  top: -36vh;
  width: 155px;
  height: 155px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: underline;
  z-index: 2;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.24);
}

.store-description {
  position: relative;
  top: -10vh;
  background-color: rgba(0, 0, 0, 0.921);
  color: white;
  width: 90%;
  text-align: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.54);
  border-radius: 10px;
}
