.mainContainer {
  width: 100%;
  background-color: pink;
}
.header {
  text-align: center;
  text-decoration: underline;
  font-size: 2.5vh;
}
.shoppingPageContentContainer {
  border: solid 3px black;
  background-color: rgba(196, 193, 193, 0.595);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}
